*{
    box-sizing: border-box;
}
body {
    background-image: url(2314950.jpg);
    background-size: cover;
    font-family: sans-serif;
}
form {
    margin-left: 700px;
    margin-top: 100px;
    display: flex;
   /* background-color: linear-gradient(to right, #c5be94, #b9b85e); 
   background-color: #517db8;*/
   background-color: linear-gradient(to right, #517db8, #3264a5);
   border-radius: 20px;
   border: 2px solid whitesmoke;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
}
.title {
    font-size: 30px;
    font-weight: 900;
    color: black;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
}
form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
form div {
    position: relative;
    margin-bottom: 15px;

}
input:focus {
    border: 2px solid #f2796e;
}
form div i {
    position: absolute;
    padding: 10px;
}
.failure-icon,.error {
    color: red;
}
.success-icon {
    color: green;
}
.error {
    font-size: 15px;
    margin-top: 5px;
}
.success-icon,.failure-icon {
    right: 0;
    opacity: 0;
}
button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}
button:hover {
    opacity: 0.8;
    background-color: rgb(43, 94, 28);
    border: 2px solid rgb(43, 94, 28);
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

}
.btn-1,.btn-2 {
    padding: 10px 5px;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 2px solid #c4c4c4;
    background-color: whitesmoke;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.btn-1:hover,.btn-2:hover{
    background-color: wheat;
}
.btn-2 {
    background-color: #365494;
    font-weight: bold;
    color: white;
}
.or {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.question {
    font-size: 20px;
    font-weight: bold;

}
span {
    color: #f2796e;
    cursor: pointer;
}
span:hover{
    text-decoration: underline;
}
img {
    height: 30px;
    width: 30px;
}